project = "infra-12345"
region = "europe"
zone = "europe-north"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
disk_image = "reddit-base"
users = [ "appuser","appuser-one","appuser-two","appuser-web" ]
